.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Oswald, sans-serif;
  color: #f2a5a5;
  font-size: 30px;
  text-align: center;
}

.heading.color1 {
  font-size: 30px;
}

.heading.color2 {
  color: #ba809e;
  font-size: 30px;
}

.heading.color3 {
  color: #9d78a5;
  font-size: 30px;
}

.heading.color4 {
  color: #726b98;
  font-size: 30px;
}

.div-block {
  margin-top: 200px;
  margin-bottom: 200px;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-block.navbar-link {
  color: #333;
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 932px;
  margin-top: 16px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header.homescreen {
  padding-right: 16px;
  padding-left: 16px;
}

.navbar-link {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.navbar-link.w--open {
  padding-bottom: 0px;
}

.navbar-link.right-link {
  margin-right: 0px;
  padding-left: 16px;
  color: #333;
  text-decoration: none;
}

.navbar-link.right-link.right-link-no-margin {
  padding-left: 0px;
}

.navbar-link.link {
  color: #333;
  text-decoration: none;
}

.section {
  width: 100%;
  max-width: 932px;
  margin-top: 220px;
  padding-right: 16px;
  padding-left: 16px;
}

.section-2 {
  width: 100%;
  max-width: 932px;
  margin-top: 16px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 16px;
  padding-left: 16px;
}

.section-2.bm {
  margin-top: 0px;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  background-color: #f8f8f8;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image {
  display: inline-block;
  float: left;
  clear: none;
  text-align: left;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 344px;
  max-width: 785px;
  margin-bottom: 48px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px none #df1a1a;
  border-radius: 14px;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.div-block-5:hover {
  box-shadow: 0 14px 50px -22px #333;
}

.div-block-5.boilermake {
  width: 100%;
  max-width: 785px;
  background-image: url('../images/BoilerMake2.png');
  background-position: -519px 0px;
  background-size: 1319px;
  background-repeat: no-repeat;
}

.div-block-5.amora {
  background-image: url('../images/Amora.png');
  background-position: 92% 39px;
  background-size: 367px;
  background-repeat: no-repeat;
}

.div-block-5._123-recipe {
  background-image: url('../images/123-Recipe-Start.png');
  background-position: 403px 36px;
  background-size: 336px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-block-5.gg {
  background-image: url('../images/GG.png');
  background-position: 384px 44px;
  background-size: 373px;
  background-repeat: no-repeat;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 900px;
  margin-top: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
}

.card-title {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  font-family: Oswald, sans-serif;
  color: #333;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.card-number {
  display: inline-block;
  margin-top: 0px;
  font-family: Oswald, sans-serif;
  color: #f2a5a5;
  font-size: 18px;
  line-height: 26px;
}

.card-number.cardcolor2 {
  color: #ba809e;
}

.card-number.cardcolor3 {
  color: #9d78a5;
}

.card-number.cardcolor4 {
  color: #726b98;
}

.card-number.cardcolor5 {
  color: #4b4668;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 61px;
  padding-bottom: 61px;
  padding-left: 61px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.card-description {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  color: #9b9b9b;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.text-block-2 {
  margin-top: 31px;
  font-family: 'Open Sans', sans-serif;
  color: #f2a5a5;
  font-size: 18px;
  line-height: 24px;
}

.text-block-2.cardcolor2 {
  color: #ba809e;
}

.text-block-2.cardcolor3 {
  color: #9d78a5;
}

.text-block-2.cardcolor4 {
  color: #726b98;
}

.text-block-2.cardcolor5 {
  color: #4b4668;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.indicator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 31px;
  margin-top: 16px;
  margin-right: 8px;
  padding-top: 0px;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 6px;
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
}

.indicator.indicator1 {
  border-color: #f2a5a5;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 75%, 80%, .1), hsla(0, 75%, 80%, .1));
  background-image: linear-gradient(180deg, hsla(0, 75%, 80%, .1), hsla(0, 75%, 80%, .1));
  color: #f2a5a5;
}

.indicator.indicator2 {
  border-color: #ba809e;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(186, 128, 158, .1), rgba(186, 128, 158, .1));
  background-image: linear-gradient(180deg, rgba(186, 128, 158, .1), rgba(186, 128, 158, .1));
  color: #ba809e;
}

.indicator.indicator-3 {
  border-color: #9d78a5;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(157, 120, 165, .1), rgba(157, 120, 165, .1));
  background-image: linear-gradient(180deg, rgba(157, 120, 165, .1), rgba(157, 120, 165, .1));
  color: #9d78a5;
}

.indicator.indicator-4 {
  border-color: #726b98;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(114, 107, 152, .1), rgba(114, 107, 152, .1));
  background-image: linear-gradient(180deg, rgba(114, 107, 152, .1), rgba(114, 107, 152, .1));
  color: #726b98;
}

.indicator.indicator-5 {
  border-color: #4b4668;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(75, 70, 104, .1), rgba(75, 70, 104, .1));
  background-image: linear-gradient(180deg, rgba(75, 70, 104, .1), rgba(75, 70, 104, .1));
  color: #4b4668;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.div-block-9 {
  overflow: hidden;
  width: 10px;
  margin-left: 0px;
  border-style: none;
  border-color: #f2a5a5;
  background-color: #ba809e;
  color: #f2a5a5;
}

.div-block-9.cardcolor1 {
  background-color: #f2a5a5;
}

.div-block-9.cardcolor3 {
  background-color: #9d78a5;
}

.div-block-9.cardcolor4 {
  background-color: #726b98;
}

.div-block-9.cardcolor5 {
  background-color: #4b4668;
}

.image-2 {
  margin-top: 25px;
  margin-right: 16px;
}

.image-3 {
  display: block;
}

.image-4 {
  margin-top: 311px;
}

.image-5 {
  max-height: 100px;
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8f8f8;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
}

.div-block-10.aetna-health {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(114, 107, 152, .1);
}

.case-study-title {
  margin-top: 8px;
  font-family: Oswald, sans-serif;
  font-size: 52px;
  line-height: 77px;
  font-weight: 700;
}

.case-study-subtitle {
  margin-top: -9px;
  font-family: 'Open Sans', sans-serif;
  color: #818181;
  font-size: 27px;
  line-height: 37px;
  font-weight: 300;
}

.case-study-container {
  display: block;
  width: 100%;
  max-width: 932px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.case-study-container.less-margin {
  margin-top: 0px;
}

.case-study-container.white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.case-study-body {
  margin-bottom: 32px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
}

.case-study-body.case-study---add-margin {
  margin-top: 24px;
  font-family: 'Open Sans', sans-serif;
}

.case-study-body.less {
  margin-bottom: 0px;
}

.section---amora {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: -16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(157, 120, 165, .1);
}

.div-block-11 {
  width: 100%;
  max-width: 932px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
}

.case-study-inner-title {
  margin-top: 32px;
  margin-bottom: 8px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.case-study-inner-title.less-bold {
  font-weight: 400;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-13 {
  width: 100%;
  max-width: 250px;
}

.case-study-inner-subtitle {
  margin-top: -9px;
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #818181;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.icon {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  color: #333;
}

.portfolio-link-dropdown {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.portfolio-link-dropdown.w--open {
  margin-top: 9px;
  padding-top: 0px;
  border-radius: 8px;
}

.portfolio-link-dropdown.toplink {
  border-radius: 5px;
}

.portfolio-link-individual:hover {
  background-color: #f1f1f2;
}

.portfolio-link---boilermake {
  color: #ba809e;
}

.portfolio-link---boilermake:hover {
  background-color: hsla(0, 75%, 80%, .1);
}

.portfolio-link---boilermake.w--current {
  color: #ba809e;
}

.portfolio-link---boilermake.w--current:hover {
  background-color: rgba(186, 128, 158, .1);
}

.portfolio-link---amora {
  color: #9d78a5;
}

.portfolio-link---amora:hover {
  background-color: rgba(157, 120, 165, .1);
}

.portfolio-link---amora.w--current {
  color: #ba809e;
}

.portfolio-link---amora.w--current:hover {
  background-color: rgba(186, 128, 158, .1);
}

.portfolio-link---123-recipe {
  color: #726b98;
}

.portfolio-link---123-recipe:hover {
  background-color: rgba(114, 107, 152, .1);
}

.portfolio-link---123-recipe.w--current {
  color: #ba809e;
}

.portfolio-link---123-recipe.w--current:hover {
  background-color: rgba(186, 128, 158, .1);
}

.portfolio-link---guitar-genome {
  color: #4b4668;
}

.portfolio-link---guitar-genome:hover {
  background-color: rgba(75, 70, 104, .1);
}

.portfolio-link---guitar-genome.w--current {
  color: #ba809e;
}

.portfolio-link---guitar-genome.w--current:hover {
  background-color: rgba(186, 128, 158, .1);
}

.portfolio-link---aetna {
  color: #f2a5a5;
}

.portfolio-link---aetna:hover {
  background-color: hsla(0, 75%, 80%, .1);
}

.portfolio-link---aetna.w--current {
  color: #ba809e;
}

.portfolio-link---aetna.w--current:hover {
  background-color: rgba(186, 128, 158, .1);
}

.section-4---boilermake {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(186, 128, 158, .1);
}

.text-block-3 {
  color: #333;
}

._123-recipe-header-pic {
  width: 100%;
  max-width: 220px;
  padding-right: 8px;
  padding-left: 8px;
}

._123-recipe-header-pic.right {
  padding-right: 16px;
  padding-left: 0px;
}

._123-recipe-header-pic.left {
  padding-right: 0px;
  padding-left: 16px;
}

.case-study-image {
  display: block;
  margin: 8px auto 32px;
}

.case-study-image.less {
  max-height: 100%;
  margin-bottom: 8px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  max-width: 765px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-14._123-users-background {
  height: 100%;
  max-height: 249px;
  max-width: 932px;
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(114, 107, 152, .1);
}

._123-users {
  max-height: 217px;
  max-width: 217px;
}

.image-6 {
  width: 500px;
}

.case-study-body-link {
  color: #333444;
  text-decoration: none;
}

.case-study-list {
  margin-top: 16px;
  margin-bottom: 32px;
}

.image-7 {
  margin-top: 8px;
  margin-bottom: 16px;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.image-8 {
  width: 130%;
  height: 100px;
  max-height: 100%;
  max-width: 130%;
  margin-bottom: -511px;
  margin-left: -220px;
  -webkit-box-flex: 10;
  -webkit-flex: 10 0 0px;
  -ms-flex: 10 0 0px;
  flex: 10 0 0px;
}

.section-7 {
  display: block;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-9 {
  display: block;
  margin-top: 0px;
  margin-bottom: -336px;
  padding-bottom: 0px;
}

.image-10 {
  max-height: 300px;
  margin-right: 0px;
  margin-bottom: -280px;
}

.yellow-building {
  max-height: 320px;
  margin-bottom: -59px;
}

.purple-building {
  max-height: 250px;
  margin-right: 160px;
  margin-bottom: -52px;
}

.green-building {
  max-height: 270px;
  margin-right: -400px;
  margin-bottom: -296px;
  margin-left: 68px;
}

.boilermake-top-div {
  display: block;
  overflow: hidden;
  max-width: 100%;
  margin-top: 32px;
  padding-top: 0px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
}

.boilermake-top-div.aetna-health {
  background-color: rgba(114, 107, 152, .1);
}

.image-11 {
  margin-bottom: -30px;
}

.case-study-single-line-bullet-point {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
}

.case-study-single-line-bullet-point.case-study---add-margin {
  margin-top: 24px;
}

.columns {
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 16px;
}

.columns.less {
  margin-bottom: 0px;
}

.image-12 {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-13 {
  max-width: 40%;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-14 {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 8px;
  background-color: rgba(114, 107, 152, .1);
}

.image-15 {
  max-width: 50%;
}

.image-16 {
  max-width: 50%;
}

.ahhhhh {
  display: block;
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
}

.ahhhhh.aetna-health {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(114, 107, 152, .1);
}

.image-17 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.bold-text {
  font-weight: 600;
}

.bold-text-2 {
  font-weight: 600;
}

.bold-text-3 {
  font-weight: 600;
}

.section---aenta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: -16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 75%, 80%, .1);
}

.image-19 {
  display: block;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.bold-text-4 {
  font-weight: 600;
}

.bold-text-5 {
  font-weight: 600;
}

.bold-text-6 {
  font-weight: 600;
}

.bold-text-7 {
  font-weight: 600;
}

.bold-text-8 {
  font-weight: 600;
}

.bold-text-9 {
  font-weight: 600;
}

.bold-text-10 {
  font-weight: 600;
}

.bold-text-11 {
  font-weight: 600;
}

.bold-text-12 {
  font-weight: 600;
}

.bold-text-13 {
  font-weight: 600;
}

.bold-text-14 {
  font-weight: 600;
}

.bold-text-15 {
  font-weight: 600;
}

.columns-2 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 16px;
  padding-left: 16px;
}

.column {
  padding-right: 16px;
}

.column-2 {
  padding-left: 16px;
}

.image-20 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.bold-text-16 {
  font-weight: 600;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block-4 {
  color: #818181;
}

@media (max-width: 991px) {
  .div-block-5 {
    max-height: 344px;
    max-width: 785px;
    min-height: 0px;
    min-width: 0px;
  }
}