
body{
	background-color: #EBEFF3;
	color: white;
	font-family: 'Roboto', 'Roboto Condensed', sans-serif;
	padding: 5px;
}

div, #gogleMaps {
	border-radius: 10px;
}

h1{
	text-align: center;
	font-family: 'Roboto', 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 275%;
	padding-top: 1%;
}

.contactIcon{
	height: auto;
	width: 20px;
	display: inline;
}

#contactIcons, #contactInfo{
	display: inline-block;
}

#contactIcons{
	padding-left: 90px;
}

#contactMeCard h3{
	display: inline;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: #f2f2f2;
	text-decoration: none;
}

a:hover {
	color: #D1335B;
}



img{
	width: 100%;
}

#mainDiv{
	width: 1000px;
	height: 100%;
	margin: auto;
}

#titleDiv{
	opacity: 10;
	width: 100%;
	background-image: url("headingBackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
}

#navigationDiv{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 5000px;
}

h4{
	display: inline;
	font-size: 150%;
}

#titleContent{
	padding-top: 5%;
	padding-bottom: 3%;
}

.rightNavigation{
	padding-left: 10%;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 150%;
}

#pictures{
	margin-top: 1%;
	width: 100%;
	background-color: #374355;
	height: auto;

}

.instaPicture{
	margin: 0;
	padding-left: 1%;
}

.socialPic, .socialPic1{
	width: 5%;
	height: auto;
}

.socialPic1 {
	margin-left: 5%;
}

#imagesToSocial {
	margin: auto;
}

.instaPics, .instaPics1{
	margin-top: 1.5%;
	margin-left: 1.1%;
	height: 150px;
	width: auto;
	margin-bottom: 1%;
	margin-right: 0;
	display: inline;
}

.instaPics1{
	margin-left: 1.5%;
}

#experienceContainer{
	margin-top: 1.75%;
	text-align: center;
	background-color: white;
	padding-bottom: 3%;
}

#experienceNavigation, #experienceLabel {
	display: inline;
}

#experienceLabel, #skillsLabel, #contactLabel, #projectsLabel{
	color: #374355;
	font-weight: 400;
}

#projectsContainer{
	background-color: white;
	margin-top: 1.5%;
	overflow: auto;
}

#projectsContainer h3{
	color: #374355;
}

#projectNext, #projectsLabel {
	display: inline;
}

#projectsContainer h1 {
	padding-top: 300px;
}

.projectDetails{
	display: inline-block;
}

.projectsImg{
	height: 250px;
	width: auto;
	float: right;
}

#employerLabel{
	margin-top: 2%;
	color: #374355;
	font-weight: lighter;
}

#employerDetails, #courseworkList{
	color: #374355;
	text-align: left;
	margin-left: 100px;
	padding-bottom: 1%;
}

#courseworkList{
	margin-left: 27%;
}

#tempDiv{
	width: 100%;
	height: 50000px;
}

#skillsContainer{
	text-align: center;
	background-color: white;
	margin-top: -15;
}

#skillsLabel {
	margin-bottom: 1%;
}

.skill, .skill1{
	display: inline-block;
	margin: 0;
	margin-left: -10.9%;
	padding: 0;
}

.skill1{
	margin: 0;
}

.skillChart{
	width: 40%;
	height: auto;
}

#skillsContainer h3, {
  font-weight: lighter;
	color: #374355;
	margin: 0;
	margin-top: 2%;
}

#introP{
	width: 800px;
}

#createStatement{
	margin-bottom: 12%;
	color: #374355;
	font-weight: normal;
	font-size: 130%;
}

#skillsContainer p {
	color: #D1335B;

	margin: 0;
	margin-top: -49%;
	font-weight: 600;
	padding-bottom: 8%;
}

#skillsContainer a:link {
	color: #374355;
	text-decoration: none;
}

#skillsContainer a:visited {
	color: #374355;
	text-decoration: none;
}

#skillsContainer a:hover {
	color: #374355;
}

#contactMeContainer{
	background-color: white;
	margin-top: -0.5%;
	overflow: auto;
}

#contactMeCard, #googleMaps{
	float: left;
}

#contactLabel{
	margin: 0;
	margin-top: 7px;
	margin-bottom: 13px;
	margin-left: 60px;
}

#contactMeCard {
	padding-left: 20px;
	margin: auto;
}

#contactMeCard h3 {
	font-weight: lighter;
	color: #374355;
	margin: 0;
	margin-top: 2%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
	padding-bottom: 0px;
	margin-bottom: 122%;
  color: #374355;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 3px 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #374355;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

ul {
	list-style: none;

}

ul li{
	width: 780px;
}
ul li:before {
  content: "⇒";
}


/*
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/
