body {
    /*font: 20px Montserrat, sans-serif;*/
    font-family: 'Playfair Display', serif;
    line-height: 1.8;
    color: #455C7B;
}
p, ul {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: regular;
}
.margin {margin-bottom: 45px;}

.aboutMeParagraph {
  font-family: "Open Sans";
  font-weight: lighter;
  margin-top: 5px;
}
.r1 {
  margin-top: 30px;
}
.bg-1 {
    background-color: #ffffff; /* Green */

}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
  margin-top: -40px;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar a {
color: #455C7B !important;
}

.navbar, .navbar-brand, .navbar-nav {
  color: #DA727E !important;
  font-family: "Playfair Display";
  font-size: 20px;
}

.navbar-nav  li a:hover {
    /* color: #1abc9c !important; */
}

h1{
  color: #DA727E;
}

.workIntro {
  font-weight: bold;
  color: #DA727E;
}

.workTitle, .workSubTitle {
  position: absolute;
  padding-left: 30px;
  color: #ffffff;

}

.workSubTitle {
  font-family: "Open Sans";
  bottom: 10%;
  text-shadow: 0px 1px 5px grey;
}

.workSelector:hover {
  position: relative;
  top: -1px;
  box-shadow: 0px 2px 5px grey;
}

.workTitle {
  bottom: 18%;
  font-weight: bold;
  text-shadow: 0px 1px 5px grey;
}
